DATABASE_URL="postgresql://whatspulse:whatspulse_secret_2026@localhost:5432/whatspulse?schema=public"
REDIS_URL="redis://localhost:6379"
JWT_SECRET="whatspulse-super-jwt-secret-cakirlar-2026"
APP_URL="https://mesaj.cakirlar.net"

# Evolution API
EVOLUTION_API_URL="http://10.0.201.201:3800"
EVOLUTION_INSTANCE="sedat2"
EVOLUTION_API_KEY="CC3C74FD6208-4756-87F3-133CFA796603"
EVOLUTION_GLOBAL_KEY="16f54b4d7f24e095e8e88761f3bc993d863cafced9d6f99939824"
